.form-container form.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.form-container form div.email {
  grid-column: 1 / -1;
}

.form-container button.botao-escuro {
  justify-self: start;
}

@media (max-width: 700px) {
  .form-container form.cadastro {
    grid-template-columns: 1fr;
  }
}
