.solucaoEspecifica-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.solucaoEspecifica-grid-solucao {

    display: grid;
    grid-template-columns: 1f 1fr;
    border: 4px solid #044F40;
}


.paines-solucao {

    display: flex;
    grid-template-columns: 1f 1fr;
    padding: 40px;
    gap: 40px;
}