.home-soluc {
  background-color: var(--cor-branco);
  padding: 60px 0;
}

.home-soluc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.home-soluc-solucao {
  padding: 32px;
  display: grid;
  grid-template-rows: max-content;
}

.home-soluc-solucao img {
  width: 100%;
}

.home-soluc-solucao-desc {
  display: grid;
  grid-template-rows: max-content;
}

.home-soluc-solucao-desc a.botao-claro {
  align-self: end;
  justify-self: start;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .home-soluc-grid {
    grid-template-columns: 1fr 1fr;
  }
  div.home-soluc.container-b {
    max-width: none;
  }
}

@media (max-width: 750px) {
  .home-soluc {
    position: relative;
  }
  .home-soluc-grid {
    grid-template-columns: repeat(6, 320px);
    gap: 40px;
    overflow: scroll;
  }

  .home-soluc-grid::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../../images/icones/arrow-right.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }

  .home-soluc-solucao {
    padding: 16px;
  }

  .home-soluc-solucao-desc h2 {
    font: var(--font-1-l);
  }
  .home-soluc-solucao-desc p {
    font: var(--font-2-s);
  }
}

@media (max-width: 400px) {
  .home-soluc h1 {
    font: var(--font-1-xl);
    margin-bottom: var(--mb-24);
  }
  .home-soluc-grid::after {
    top: 130px;
  }
}
