.form-container {
  padding: 20px 40px 40px 40px;
}

label {
  display: block;
}
input, textarea, select {
  display: block;
  width: 100%;
  border: 2px solid var(--cor-b3);
  padding: 6px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border: 2px solid var(--cor-branco);
  background-color: var(--cor-branco);
  box-shadow: 0 0 2px 2px var(--cor-e3);
}

.form-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px 20px 40px;
  }
}
